<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <div class="container">
      <div class="wordsSpaces">
          <p>Blanks for Random Word</p>
      </div>
      <div class="guessNHint">
        <div class="guesses">
          <p># of guesses left</p>
        </div>
        <div class="{{hint}}">
          <p>Have a Hint</p>
        </div>
        <div class="letterSubmit">
          <input type="text" name="guesses" value="" placeholder="Guess a letter!">
          <button type="submit" name="button">Guess!</button>
        </div>
      </div>
    </div>
  </body>
</html>
